doctype 5
html
  head
    title cilite
    link(rel='stylesheet', href='/css/style.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="/js/cilite.js")
  body
    block content