@import 'nib'
*
	box-sizing border-box

body
	padding 30px
	font 14px sans-serif
	background-color #fff
	transition background-color 1s
	&.failure
		background-color red

	&.success
		background-color green

	&.building
		background-color blue

	img.jenkins
		display block
		margin auto
		width 50%
		transition all 2s

	&.failure img.jenkins,
	&.success img.jenkins
			width 30%
			margin-top 20%

	section.thought
		padding 40px
		background url(/img/thought.png)
		background-size 100%
		background-repeat no-repeat
		position absolute
		right 10%
		top 10%
		width 300px
		height 250px
		opacity 0
		transition opacity 1s
		h2
			font-family sans-serif
			font-size 24px
			text-align center

	&.failure section.thought,
	&.success section.thought
		opacity 1
