body
	padding: 30px
	font: 14px sans-serif
	background-color #fff
	transition background-color 1s
	-webkit-transition background-color 1s
	&.red
		background-color red
	&.green
		background-color green
	&.yellow
		background-color yellow
