*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{padding:30px;font:14px sans-serif;background-color:#fff;-webkit-transition:background-color 1s;-moz-transition:background-color 1s;-o-transition:background-color 1s;-ms-transition:background-color 1s;transition:background-color 1s;}
body.failure{background-color:#f00}
body.success{background-color:#008000}
body.building{background-color:#00f}
body img.jenkins{display:block;margin:auto;width:50%;-webkit-transition:all 2s;-moz-transition:all 2s;-o-transition:all 2s;-ms-transition:all 2s;transition:all 2s}
body.failure img.jenkins,body.success img.jenkins{width:30%;margin-top:20%}
body section.thought{padding:40px;background:url("/img/thought.png");-webkit-background-size:100%;-moz-background-size:100%;background-size:100%;background-repeat:no-repeat;position:absolute;right:10%;top:10%;width:300px;height:250px;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transition:opacity 1s;-moz-transition:opacity 1s;-o-transition:opacity 1s;-ms-transition:opacity 1s;transition:opacity 1s;}
body section.thought h2{font-family:sans-serif;font-size:24px;text-align:center}
body.failure section.thought,body.success section.thought{opacity:1;-ms-filter:none;filter:none}
