body {
  padding: 30px;
  font: 14px sans-serif;
  background-color: #fff;
  transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
body.red {
  background-color: #f00;
}
body.green {
  background-color: #008000;
}
body.blue {
  background-color: #00f;
}
body img.jenkins {
  display: block;
  margin: auto;
  width: 50%;
  height: 50%;
}
